KEYCLOAK_SECURITY_HEADERS="{{ env.KEYCLOAK_SECURITY_HEADERS | default('\"Strict-Transport-Security:max-age=31536000; includeSubDomains,X-XSS-Protection:1; mode=block,X-Content-Type-Options:nosniff,X-Frame-Options:SAMEORIGIN\"') }}" GLOBAL_SECURITY_HEADERS="X-Frame-Options:SAMEORIGIN,X-XSS-Protection:1; mode=block,X-Content-Type-Options:nosniff,Referrer-Policy:strict-origin"
